<spl-select [(ngModel)]="value1">
  <spl-option *ngFor="let option of options">
    Options {{option}}
  </spl-option>
</spl-select>

<div class="spl-fs-s spl-mt-4">
  Selected value: {{value1}}
</div>

<spl-select
  [(ngModel)]="value2"
  class="spl-mt-8">
  <spl-option
    *ngFor="let option of options"
    [value]="option">
    Options {{option}}
  </spl-option>
</spl-select>

<div class="spl-fs-s spl-mt-4">
  Selected value: {{value2}}
</div>

<spl-select
  [(ngModel)]="value3"
  class="spl-mt-8">
  <spl-option
    *ngFor="let option of options"
    [label]="'Selected options is ' + option"
    [value]="option">
    Options {{option}}
  </spl-option>
</spl-select>

<div class="spl-fs-s spl-mt-4">
  Selected value: {{value3}}
</div>

