<spl-radio-group>
  <spl-radio-button
    *ngFor="let option of options"
    [value]="option">
    Option {{option}}
  </spl-radio-button>
</spl-radio-group>

<spl-radio-group [(ngModel)]="value">
  <spl-radio-button
    *ngFor="let option of options"
    [value]="option">
    Option {{option}}
  </spl-radio-button>
</spl-radio-group>

<spl-radio-group [formControl]="formControl">
  <spl-radio-button
    *ngFor="let option of options"
    [value]="option">
    Option {{option}}
  </spl-radio-button>
</spl-radio-group>

<spl-radio-group disabled>
  <spl-radio-button
    *ngFor="let option of options"
    [value]="option">
    Option {{option}}
  </spl-radio-button>
</spl-radio-group>
