<spl-select placeholder="Select...">
  <spl-option *ngFor="let option of options">
    Option {{option}}
  </spl-option>
</spl-select>

<spl-select
  [(ngModel)]="value"
  placeholder="Select...">
  <spl-option
    *ngFor="let option of options"
    [value]="option">
    Option {{option}}
  </spl-option>
</spl-select>

<spl-select
  [formControl]="formControl"
  placeholder="Select...">
  <spl-option
    *ngFor="let option of options"
    [value]="option">
    Option {{option}}
  </spl-option>
</spl-select>

<spl-select disabled>
  <spl-option *ngFor="let option of options">
    Option {{option}}
  </spl-option>
</spl-select>
