<input
  #ngModelValidator="controlValidator"
  [(ngModel)]="value"
  splControlValidator
  required/>

<div class="spl-fs-s spl-mt-4">
  @if (ngModelValidator) {
    @if (ngModelValidator.hasError('required')) {
      Input is required.
    }
  } @else {
    The validator's invalid getter returns true when the control is invalid and in a touched or dirty state.
  }
</div>

<input
  #formControlValidator="controlValidator"
  [formControl]="formControl"
  class="spl-mt-24"
  type="email"
  splControlValidator
  required/>

<div class="spl-fs-s spl-mt-4">
  @if (formControlValidator) {
    @if (formControlValidator.hasError('required')) {
      Input is required.
    }

    @if (formControlValidator.hasError('email')) {
      Incorrect email.
    }
  } @else {
    The validator's invalid getter returns true when the control is invalid and in a touched or dirty state.
  }
</div>
