/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp');

@import "projects/simplor/src/styles/init";
@import "projects/simplor/src/styles/styles";

@include colors();
@include durations();
@include font-sizes();

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow: auto;
}
